<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          Cash <span>Machine</span>
        </div>
        <div class="row">
          <div class="col-md-9">
            <p>
              Программная модель и авторские права
              принадлежат FscoreLab ltd
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-4 direction-column">
        <nav class="footer-nav">
          <ul>
            <li><a href="">Все решения</a></li>
            <li><a href="">О нас</a></li>
            <li><a href="">Новости</a></li>
          </ul>
        </nav>
        <div class="btn-wrapper">
          <a href="" class="btn btn-fb">Наша группа</a>
        </div>
      </div>
      <div class="col-md-4">
        <p class="address">
          Санкт-петербург, ул. 5-я советская, 16,
          литера А, пом. 7н, оф. 3-цб
        </p>
      </div>
    </div>
  </div>
</footer>
